.btn {
  cursor: pointer;
}
.btn-rounded {
  width: calc(100vw - 150px);
  height: calc(100vh - 150px);
  border-radius:50%;
  background-color: gray;
}

.btn.is-green {
  background-color: green;
}

.btn.is-red {
  background-color: red;
}

body {
  background-color:black;
  color:white;
}