.btn {
  	cursor: pointer;
	border:none;
}
.btn-play {
	width: 150px;
	height:60px;
	border-radius: 8px;
	background-color: #11bdff;
	color: #ffffff;
}
.btn-rounded {
	width: 500px;
	height: 500px;
	border-radius:50%;
	background-color: gray;
}

.btn.is-green {
  	background-color: green;
}

.btn.is-red {
  	background-color: red;
}

body {
	background-color:#121212;
	color:white;
}